.navigation__content-nav {
  z-index: 10000;
  .search_content {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0.125rem 5px #bfd0ff;
    display: none;

    .search-container {
      .category-container {
        border-right: 1px solid #ecebe4;
        padding: 0 15px;
      }

      .search-box {
        position: relative;
        width: 100%;
 
        .search-icon {
          position: absolute;
          top: 100px;
          left: 15px;
        }
        // input[type="text"] {
        //   display: block !important;
        //   border: none !important;
        //   margin: 0px !important;
        //   padding: 0px !important;
        //   width: 100% !important;
        //   height: 30px;
        //   background: none !important;
        //   font-size: 14px !important;
        //   line-height: 18px !important;
        //   // font-weight: 600 !important;
        //   color: #2f4858 !important;
        //   text-overflow: ellipsis !important;
        //   padding: 0 20px;

          // &:focus {
          //   outline: none;
          // }
        // }

        input[type="submit"] {
          width: 100px;
          border: none;
          padding: 5px;
          font-size: 0.7rem;
          border-radius: 50px;
          background-color: #004ba8;
          color: #fff;
          transition: all 0.3s ease-in;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.headerLogo {
  font-family: "Pacifico", cursive !important;
  cursor: pointer;
  a {
    font-size: 1rem !important;
    color: #fff !important;
    // font-weight: 900;
    text-transform: uppercase;
  }
}

.directory {
  font-family: "Montserrat", sans-serif;
  margin-top: 65px;
  display: grid;
  grid-template-columns: 700px 1fr;
  grid-template-areas: "header header" "list map";
  height: 100vh;

  &-list {
    grid-area: list;
    position: relative;
    background-color: #fff;
    width: 700px;
    height: 100%;

    .list-header {
      p {
        color: #495159;
        margin-bottom: 0 !important;
      }

      a {
        cursor: pointer;
        font-size: 0.7rem;
        font-weight: 500;
        padding: 10px 15px;
        color: #495159;
        border-radius: 50px;
        box-shadow: 0 0.125rem 5px #bfd0ff;
      }

      h1 {
        color: #495159;
        margin: 20px 20px 16px 0;
        font-size: 2rem;
        line-height: 1.22;
        font-weight: 700;
        letter-spacing: -0.9px;
      }
    }
  }

  &-map {
    grid-area: map;
    position: fixed;
    background-color: rgb(200, 206, 206);
    width: 1150px;
    height: 100%;
    overflow: hidden;
    right: 0;


    h1,
  h2,
  h3,
  h6,
  h5,
  h6 {
    color: #000
  }
  }
}

.company {
  h1,
  h2,
  h3,
  h6,
  h5,
  h6 {
    color: #000
  }
  margin-top: 70px;
  .map-section {
    height: 500px;
    background-color: #495159;

    h3 {
      color: #fff;
    }
  }


  .details {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 290px;
    gap: 20px;

    .mini-sidebar {
      .list-content {
        position: sticky;
      top: 70px;
      }
    }

    .info-container {
      padding-block: 3em;
      h1 {
        color: rgb(13, 44, 84);
        font-weight: 900;
      }

      p {
        font-size: .8rem;
        font-weight: 600;
        margin: 0;
        span {
          padding: .3rem;
          color: #fff;
          background-color: #33CA7F;
          border-radius: 5px;
        }
      }

      h5 {
        margin: 0;
        color: #4A5759;
        font-size: .9rem;
      }

      .tabs-content {

        h2 {
          color: #4A5759;
          font-size: 1.5em;
          font-weight: 600;
        }

        article {
          // max-width: min(30em, 100%);
          margin-top: 10px;
          font-size: .8rem;
          font-weight: 500;
          text-align: justify;
        }
        .react-tabs__tab-list {
          border-bottom: none !important;
          margin: 0 0 10px;
          padding: 0;
          font-size: .8rem;
          font-weight: 500;
         

          li:not(:nth-child(1)) {
             margin-left: 20px;
          }

         
        }
        

        .react-tabs__tab {
          display: inline-block;
          border: 1px solid #004ba8;
          color: #004ba8;
          position: relative;
          list-style: none;
          padding: 10px 15px;
          cursor: pointer;
          border-radius: 5px;
      }
        .react-tabs__tab--selected {
          background: rgb(13, 44, 84);
          color: #fff;
          border-radius: 5px;
          padding: 10px 15px;
          border: none !important;
      }
      }

      .image-container {
        max-width: 800px;
        margin: 0 auto;
        height: 700px;
       .custom_paging {

        .slick-track {
          img {
            width: 100%;
            height: 500px;
          }
        }

        .slick-thumb {
          img {
            width: 100%;
            height: 100px;
          }

        }
  
        .slick-current {
          img {
            border-radius: 5px;
          }
        }
  
        .slick-next {
          right: -70px !important;
        }
  
        .slick-prev {
          left: -70px;
        }
        .slick-dots {
          bottom: -100px !important;
  
          li {
            width: 120px !important;
            height: 30px !important;
            margin: 50px 5px !important;
  
            a img {
              border-radius: 4px;
            }
          }
  
          .slick-active {
            a img {
              border: 3px solid #fff;
              border-radius: 4px;
            }
          }
        }
       }
      }

      .amenities {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        font-size: .9rem;
        color: #2f4858;
        line-height: 2;
      }
    }
  }
}
