.login {
  &-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 600px;
    background: linear-gradient(
      rgba(0, 64, 143, 0.9),
      rgba(131, 208, 203, 0.7)
    );
    backdrop-filter: blur(1px);
    border: 2px solid transparent;
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgb(46 54 68 / 3%);
    z-index: 10;

    &-content {
      position: absolute;
      top: 20%;
      left: 50%;
      color: #fff;

      .text-content{
          margin-top: 50px;
          h4 {
              font-size: 1rem;
              font-weight: 700;
              color: #fff;
              margin-top: 8px;
          }
    
          p {
              font-size: .9rem;
              font-weight: 500;
              padding-right: 20px;
          }

      }

    }
  }
  &-form {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%) !important;

    &-content {
      padding: 50px;
      display: grid;
      grid-template-columns: 380px 1fr;

      .signin-link {
        span {
          font-size: 0.8rem;
          font-weight: 600;
        }

        a {
          background-color: #eef4ed;
          padding: 10px 20px;
          font-size: 0.8rem;
          font-weight: 600;
          text-decoration: none;
          color: #004ba8;
          margin-left: 20px;
          border-radius: 50px;
        }
      }

      .form-content {
          
        h1 {
          text-align: center;
          margin: 0 0 16px 0;
          font-size: 2rem;
          line-height: 1.22;
          font-weight: 700;
          letter-spacing: -0.9px;
          color: #000;
          margin-bottom: 50px;
        }

        h5 {
            text-align: center;
            margin: 0 0 16px 0;
            font-size: 2rem;
            line-height: 1.22;
            font-weight: 700;
            letter-spacing: -0.9px;
            color: #000;
            margin-bottom: 20px;
        }

        p {
            text-align: left;
        }

        .forgot_password a{
            font-size: 0.8rem;
          font-weight: 600;
          text-decoration: none;
          color: #004ba8;
        }

        label {
            font-size: .8rem !important;
            font-weight: 600;
            color: #7E8D85;
        }

       
       .ant-input-number-input {
           width: 100% !important;
           font-size: .8rem !important;
           height: 40px !important;
       }
     
        .ant-input {
            border-radius: 8px !important;
            height: 40px !important;
            font-size: .8rem !important;
        }

        .ant-form-item .ant-input-number-handler-wrap {
            display: none !important;
        }
        .ant-form-item-explain.ant-form-item-explain-error {
            font-size: .8rem;
        }

        .ant-form-item-control-input-content {
          .PhoneInputCountry {

              height: 40px !important;
            
          }

          .PhoneInputInput {
            height: 40px !important;
            border-radius: 8px;
            border: 1px solid #d9d9d9;
            transition: all .2s ease-in;

            &:hover {
              border-color: #40a9ff;
            }

            &:focus {
              border-color: #40a9ff;
              border-right-width: 1px !important;
              outline: 0;
              -webkit-box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
              box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
          
            }
          }

        }

        h6 {
            text-align: left;
            font-size: .8rem;
            font-weight: 500;
            color: #7E8D85;

            span {
                color: #004ba8;
            }
        }

        .ant-btn-primary {
            width: 100%;
            // padding: 10px !important;
            height: 50px;
            font-size: .8rem;
            font-weight: 600;
            border-radius: 10px;
        }

        .ant-divider-horizontal.ant-divider-with-text{
            color: #7E8D85 !important;
        }

        .OauthBtn {
            text-align: center;
            button {
                width: 50%;
                background-color: #eef4ed;
                padding: 20px 70px;
                border-radius: 10px;
                font-size: 0.8rem;
                font-weight: 600;
                border: none;
                color: #004ba8;
            }
        }
      }
    }
  }
}
